<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href={{ url_for('static', filename='bootstrap/css/bootstrap.css') }}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Ring of Fire</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="offset-md-5">
            <div class="form-group">
                <form style="text-align:center" method="post">
                    <p>Welcome to Ring of Fire!</p>
                    <label>How many players?</label>
                    <br>
                    <select class="form-control" name="number">
                    {% for i in range (10) %}
                        <option>{{ i + 1 }}</option>
                    {% endfor %}
                    </select>
                    <button class="btn btn-dark btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
