<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>J-Party!</title>
  </head>
  <body style="background-color:floralwhite;">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <div class="container">
        <div class="row">
            {% for item in gamedata %}
            <div class="card">
                <div class="card-header">
                    {{ item }}
                </div>
                <ul class="list-group list-group-flush">
                    {% for data in gamedata[item] %}
                    {% if data['active'] %}
                    <li class="list-group-item">
                        <form method="post">
                            <input type="hidden" name="id" value={{ data['question_id'] }}>
                            <button class="btn btn-primary" type="submit">{{ data['value'] }}</button>
                        </form>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-text text-center">Player Score</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for player in players %}
                        <li class="list-group-item">{{ player[0] }}: ${{ player[1] }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
