{% extends "base.html" %}

{%  block content %}
<div class="container">
    <div class="row">
        <div class="offset-md-5">
            <div class="form-group">
                <p style="text-align:center">Enter Player Names</p>
                {% for i in range(3) %}
                <form style="text-align:center" method="post">
                    <input placeholder="Player {{ i + 1 }}" name="player{{ i }}" autocomplete="off">
                    <br>
                {% endfor %}
                    <button class="btn btn-primary btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
