<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='countdown.css') }}">
    <title>J-Party!</title>
</head>
<body style="background-color:floralwhite;">
<div class="card text-center" style="width: 30rem;margin:0 auto;">
    <h5>{{ winner }} wins!</h5>
    <div class="card-header">
        <h5 class="card-text text-center">Final Score</h5>
    </div>
    <ul class="list-group list-group-flush">
        {% for player in players %}
        <li class="list-group-item">{{ player[0] }}: ${{ player[1] }}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>