<!-- Modal -->
<form method="post">
<div class="modal" id="J{{ data['question_id'] }}" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" name="id" value="{{ data['question_id'] }}">
            <input type="hidden" name="value" value="{{ data['value'] }}">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100">{{ data['question']|safe }}</h5>
            </div>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="justify-content-center">
                    {% if has_wager %}
                        {% include "j_party/wager.html" %}
                    {% else %}
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            {% for player in players %}
                                <label class="btn btn-secondary">
                                    <input type="radio" name="player" value="{{ player[0] }}" required>
                                    {{ player[0] }}
                                </label>
                            {% endfor %}
                        </div>
                        <br>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <div class="w-100">
                    {{ form.correct(class="btn btn-outline-primary") }} {{ form.incorrect(class="btn btn-outline-primary") }}
                </div>
            </div>
            <div class="modal-footer text-center">
                <div class="w-100">
                    {{ form.times_up(class="btn btn-outline-danger") }}
                </div>
            </div>
        </div>
    </div>
</div>
</form>