{% extends "base.html" %}

{% block title %}
Ring Of Fire - Assigning Players
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="form-group">
                <p style="text-align:center">Enter Player Names</p>
                <form style="text-align:center" method="post">
                    {% for key in players %}
                    {{ form|attr(key)() }}
                    <br>
                    {% endfor %}
                    {{ form.submit }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}